<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
      <add name="conn" connectionString="Data Source=DESKTOP-2O8SBN2;Initial Catalog=ProjectC;Persist Security Info=True;User ID=sa;Password=123456789" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
</configuration>
